.wrapper {
  & h2 {
    color: #474D66;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  & > p {
    margin-bottom: 29px;
    font-size: 12px;
    line-height: 16px;
  }
}

.button {
  width: 100%;
  margin-top: 32px;
  height: 49px;
}

.actions {
  font-size: 12;
  line-height: 16px;
}

.actionItem {
  cursor: pointer;
  margin-top: 16px;

  & p {
    color: #474D66;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 11px;
  }
}

.form {
  width: 100%;
}

.input {
  margin-bottom: 20px;
}

@media screen and (max-width: 770px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h2,
    > p {
      text-align: center;
    }
  }
}
