.wrapper {
  & h2 {
    color: #474D66;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  & p {
    margin-bottom: 29px;
    font-size: 12px;
    line-height: 16px;
  }
}

.button {
  width: 100%;
  margin-top: 29px;
  height: 49px;
}

.actions {
  display: flex;
  align-items: center;
}

.actionItem {
  width: 169px;
  height: 112px;
  padding-top: 10px;
  padding-left: 16px;
  box-shadow: 0 4px 8px rgb(16 24 64 / 8%);
  border-radius: 6px;
  cursor: pointer;

  & p {
    color: #474D66;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 11px;
  }

  &:nth-child(2) {
    margin: 0 20px;
  }
}

.selectedActionItem {
  border: 1px solid var(--primary);
}

.icon svg {
  display: block;
  margin: auto;
}
