.wrapper {
  & > h2 {
    color: #474D66;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  & > p {
    font-size: 12px;
    line-height: 16px;
  }
}

.button {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 26px;
  height: 49px;
}

.linkButton {
  margin: 0 auto;
}

.checkbox {
  margin-top: 24px;
}

.fileUploaderContainer {
  width: 311px;
}

.fileUploader {
  margin-top: 8px;
}
